@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root{

    --primary:#0066ff;
    --primary-light:#00bfff;
    --primary-dark:#004ecc;

    --bg:#020617;

    --bg-glow-1:rgba(0,191,255,.35);
    --bg-glow-2:rgba(0,80,255,.25);
    --bg-glow-3:rgba(0,191,255,.15);

    --text:#ffffff;
    --text-muted:#9aa8bd;

    --card-bg:rgba(12,20,40,.45);

    --input-bg:rgba(17,29,52,.29);

    --glass-bg:rgba(10,24,54,.15);

    --glass-border:rgba(255,255,255,.12);

    --glow:rgba(0,102,255,.4);

    --accent-bg:rgba(0,191,255,.18);
    --accent-border:rgba(0,191,255,.35);
    --accent-shadow:rgba(0,191,255,.12);

    

}
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    min-height:100vh;

    padding:40px;

    background:
        radial-gradient(circle at 20% 30%, var(--bg-glow-1), transparent 35%),
        radial-gradient(circle at 80% 20%, var(--bg-glow-2), transparent 40%),
        radial-gradient(circle at 50% 80%, var(--bg-glow-3), transparent 35%),
        var(--bg);

    background-size:200% 200%;

    animation:floatingGradient 18s ease-in-out infinite;
}


/* Navbar*/

.navbar{

    position:fixed;

    top:0px;
    left:50%;
    

    transform:translateX(-50%);

    width:90%;
    max-width:1300px;

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:18px 35px;

    border-radius:20px;

    background:rgba(9, 19, 37, 0.027);

    backdrop-filter:blur(15px);

    border:1px solid rgba(255,255,255,.05);

    z-index:1000;

    
}

.logo{
    color:var(--primary);
}



.nav-links{

    list-style:none;

    display:flex;

    gap:35px;
}

.nav-links a{

    text-decoration:none;

    color:#fff;

    transition:.3s;
}

.nav-links a:hover{
    color:var(--primary);
}

/* Hero Card */
.hero{
    min-height:80vh;
    margin-top:35px;

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;

    position:relative;
}
.hero-card{
    background:var(--glass-bg);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);

    border-radius:24px;
    padding:40px;

    border:1px solid rgba(255, 255, 255, 0.253);

    box-shadow: 0 10px 40px rgba(0,0,0,.35);

    position: relative;
    z-index: 2;
}
.hero-card:before{
    content:'';

    position:absolute;
    width:350px;
    height:350px;

    top:-120px;
    right:-100px;

    border-radius:50%;

    background:var(--accent-bg);
    filter:blur(90px);

    pointer-events:none;
}
.hero-content{
    text-align:center;
    max-width:700px;
    z-index:2;
}

/* Profile Image */
.profile-image{
    width:140px;
    height:140px;

    margin:auto;
    border-radius:50%;

    overflow:hidden;

   border:4px solid var(--primary);

    box-shadow:
   0 0 20px var(--primary)
    0 0 50px #00bfff55;
}

.profile-image img{
    width:100%;
    height:100%;
    object-fit:cover;
}

.hero-card h1{
    color:white;
}

.hero-card h2{
    color:var(--primary);
}

.hero-card p{
    color:var(--text-muted);
}

/* Buttons */
.buttons{
    margin-top:35px;
    display:flex;
    justify-content:center;
    gap:15px;
}

.btn{
    padding:14px 30px;
    border-radius:50px;
    text-decoration:none;
    transition:.3s;
}

.primary{
    background:var(--primary);
    color:white;
    box-shadow:0 0 15px #00bfff88;
}

.primary:hover{
    transform:translateY(-3px);
}

.secondary:hover{
    border-color:var(--primary);
    color:var(--primary);
}

.secondary:hover{
    border-color:var(--primary);
    color:var(--primary);
}

/* ==========================
CONTENT
========================== */

.content{
    flex:1;
    display:flex;
    flex-direction:column;
    gap:25px;
}

/* ==========================
GENERAL CARD
========================== */

.card{
    position:relative;

    background:rgba(12,20,40,.45);

    backdrop-filter:blur(20px) saturate(180%);
    -webkit-backdrop-filter:blur(20px) saturate(180%);

    border:1px solid rgba(255,255,255,.12);

    border-radius:24px;
    padding:30px;

    box-shadow:
        0 10px 35px rgba(0,0,0,.25),
        inset 0 1px 1px rgba(255,255,255,.12);

    overflow:hidden;

    transition:
        transform .35s ease,
        box-shadow .35s ease,
        border-color .35s ease;
}

.card::before{
    content:'';

    position:absolute;
    width:350px;
    height:350px;

    top:-120px;
    right:-100px;

    border-radius:50%;

    background:var(--accent-bg);

    filter:blur(90px);

    pointer-events:none;
} 

.card:hover{
    transform:translateY(-6px);

   border-color:var(--accent-border);

    box-shadow:
       0 18px 45px var(--accent-shadow)
        0 12px 35px rgba(0,0,0,.35);
}
.card h1{
    color:white;
}

.card h2{
    color:var(--primary);
}

.card p{
    color:var(--text-muted);
}
/* ==========================
GRID
========================== */

.grid-2{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:25px;
}

/* ==========================
ABOUT
========================== */

.about-grid{
    display:grid;
    grid-template-columns:2fr 1fr;
    gap:25px;
}

.about-text p{
    color:#d1ddf0;
    line-height:1.8;
    margin-bottom:15px;
}

.about-stats{
    display:flex;
    flex-direction:column;
    gap:15px;
}

.stat-box{
    background:#111d3400;
    border-radius:16px;
    padding:20px;
    text-align:center;
}

.stat-box h3{
    color:var(--primary);
}

.stat-box span{
    color:var(--text-muted);
}

/* ==========================
SKILLS
========================== */

.skill{
    margin-bottom:25px;
}

.skill span{
    color:white;
}

.progress{
    width:100%;
    height:10px;
    background:#101a2d;
    border-radius:20px;
    overflow:hidden;
    margin-top:10px;
}

.progress-fill{
    height:100%;
    background:linear-gradient(
        90deg,
        var(--primary),
        var(--primary-light)
    );
}

.html{width:95%;}
.css{width:92%;}
.js{width:85%;}
.react{width:80%;}

/* ==========================
PORTFOLIO
========================== */

.portfolio{
    position:relative;
    overflow:hidden;
}

.portfolio-slider{
    display:flex;

    gap:20px;

    overflow-x:auto;
    overflow-y:hidden;

    scroll-behavior:smooth;

    padding-bottom:10px;
}

.slider-zone{

    opacity:0;

    position:absolute;

    top:0;

    width:50px;
    height:100%;

    z-index:20;

    cursor:pointer;

    transition:
    opacity .25s ease,
    box-shadow .25s ease;
}

/* Show only on hover */

.portfolio:hover .slider-zone{
    opacity:1;
}
/* Left Glow */

.left-zone{

    left:0;

    box-shadow:
    inset 25px 0 40px rgba(0,191,255,.15);
}



.right-zone{

    right:0;

    box-shadow:
    inset -25px 0 40px rgba(0,191,255,.15);
}



.slider-zone:hover{

    box-shadow:
    inset 0 0 40px rgba(0, 191, 255, 0.15);
    opacity:1;
}


.left-zone:hover,
.right-zone:hover{

    backdrop-filter:blur(3px);

}

/* Scrollbar */

.portfolio-slider::-webkit-scrollbar{
    height:8px;
}

.portfolio-slider::-webkit-scrollbar-track{
    background:#111d3400;
    border-radius:20px;
}

.portfolio-slider::-webkit-scrollbar-thumb{
    background:var(--primary);
    border-radius:20px;
}

/* Cards */

.project-card{

    min-width:280px;

    flex-shrink:0;

    background:#111d3400;


    border-radius:18px;

    transition:.3s;

    position:relative;

    overflow:hidden;
}

.project-overlay{

    position:absolute;

    inset:0;

    display:flex;

    flex-direction:column;

    justify-content:center;
    align-items:center;

    text-align:center;

    gap:12px;

    background:rgba(2,6,23,.85);

    backdrop-filter:blur(8px);

    opacity:0;

    transition:.35s ease;
}

.project-card:hover .project-overlay{

    opacity:1;
}

.project-overlay h3,
.project-overlay p,
.project-overlay a{

    transform:translateY(20px);

    opacity:0;

    transition:.35s ease;
}

.project-card:hover .project-overlay h3,
.project-card:hover .project-overlay p,
.project-card:hover .project-overlay a{

    transform:translateY(0);

    opacity:1;
}

.project-overlay a{

    padding:10px 20px;

    border-radius:50px;

    text-decoration:none;

    background:var(--primary);

    color:white;

    box-shadow:
        0 0 15px rgba(0,102,255,.4);
}

.project-card img{

    width:100%;

    height:180px;

    object-fit:cover;


}

.project-card img{

    transition:.5s ease;
}

.project-card:hover img{

    transform:scale(1.08);
}

.project-card h4{

    padding:15px;

    color:white;
}



/* ==========================
TIMELINE
========================== */

.timeline{
    display:flex;
    flex-direction:column;
    gap:20px;
}

.timeline-item{
    background:#111d3400;
    padding:20px;
    border-radius:16px;
}

.timeline-item h3{
    color:white;
}

.timeline-item span{
    color:var(--primary);
    font-size:14px;
}

.timeline-item p{
    color:var(--text-muted);
    margin-top:10px;
}

/* ==========================
LANGUAGES
========================== */

.language{
    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:15px;

    margin-bottom:12px;

    background:#080d1600;

    border: #9aa8bd;

    border-radius:14px;

    color:white;
}

/* ==========================
TESTIMONIALS
========================== */

.testimonials{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:20px;
}

.testimonial{
    background:#b2c7ee09;
    padding:25px;
    border-radius:18px;
}

.testimonial p{
    color:var(--text-muted);
}

.testimonial h4{
    color:var(--primary);
    margin-top:15px;
}

/* ==========================
CONTACT
========================== */

.contact-form{
    display:flex;
    flex-direction:column;
    gap:15px;
}

.contact-form input,
.contact-form textarea{

    background:#111d3449;

    border:none;

    border-radius:14px;

    padding:15px;

    color:white;

    outline:none;
}

#form-status{

    margin-top:15px;

    text-align:center;

    color:#00bfff;

    font-size:14px;
}

.contact-form button{

    background:var(--primary);

    color:white;

    border:none;

    padding:15px;

    border-radius:14px;

    cursor:pointer;

    transition:.3s;
}

.contact-form button:hover{
    transform:translateY(-2px);
}

/* ==========================
FOOTER
========================== */

.footer{
    text-align:center;
    padding:30px 0;
}

.footer p{
    color:#72809a;
}


/* Smooth Scroll */

html{
    scroll-behavior:smooth;
}

section{
    scroll-margin-top:100px;
}

/* ==========================
RESPONSIVE
========================== */

@media(max-width:992px){


    .nav-links{

    position:fixed;

    top:0;
    right:-100%;

    width:280px;
    height:100vh;

    flex-direction:column;

    justify-content:center;
    align-items:center;

    background:var(--bg);

    transition:.4s ease;

}



.nav-links.active{
    right:0;
}


    .grid-2{
        grid-template-columns:1fr;
    }

    .about-grid{
        grid-template-columns:1fr;
    }

    .portfolio-grid{
        grid-template-columns:1fr;
    }

    .testimonials{
        grid-template-columns:1fr;
    }

    .hamburger{
    display:flex;
    flex-direction:column;
    gap:6px;
    cursor:pointer;
    z-index:1001;
}

.hamburger span{
    width:28px;
    height:3px;
    background:white;
    border-radius:20px;
    transition:.3s;
}


.hamburger.active span:nth-child(1){
    transform:rotate(45deg) translateY(13px);
}

.hamburger.active span:nth-child(2){
    opacity:0;
}

.hamburger.active span:nth-child(3){
    transform:rotate(-45deg) translateY(-13px);
}


}

@keyframes floatingGradient{

    0%{
        background-position:0% 0%;
    }

    50%{
        background-position:100% 100%;
    }

    100%{
        background-position:0% 0%;
    }



}

.reveal{

    opacity:0;

    transform:translateY(40px);

    transition:
        opacity .8s ease,
        transform .8s ease;
}

.reveal.active{

    opacity:1;

    transform:translateY(0);
}